$transition-delay: .3s;
$transition-animation: ease;

$transition-header : $transition-animation $transition-delay;

$maxWidthScreen: 1200px;

$breakpoint_desktop__header: 769px;
$breakpoint_desktop__footer: 1088px;