
<section class="products">

    <div *ngIf="type === 'categories'" class="categories">
        <span class="decoCode">| <strong>046</strong>  | <strong>047</strong>  | <strong>048</strong></span>

        <ng-container *ngFor="let categoryList of categoriesList; let i = index">
            <article class="minim-p5 category bkgd-{{categoryList.backgroundColor}}">
                <span class="category_number">1.{{i + 1}}</span>
                <div class="category_title">
                    <h3 class="minim-mb1">{{categoryList.label}}</h3>
                    <h5>Shop</h5>
                </div>
                <div class="minim-mt2-mb2 category_img">
                    <img class="catgeory_img" [src]="categoryList.url" alt="">
                </div>
                <div class="category_actions">
                    <button class="minim-button-underlined">Shop {{categoryList.label}}</button>
                </div>
            </article>
        </ng-container>
    </div>

    <div *ngIf="type === 'popular'" class="popular">
        <div class="popular_header">
            <div class="popular_header_title">
                <h3 class="minim-mr5 popular_title">Popular</h3>
                <h5 class="minim-ml5">Shop</h5>
            </div>
            <div class="prevNext"><strong>Previous</strong> | <strong>Next</strong></div>
        </div>
        <div class="listing">
            <ng-container *ngFor="let productList of productsList; let i = index">
                <article class="minim-pt5 product bkgd-{{productList.backgroundColor}} {{productList.hot ? ' product_hot' : ''}}">
                    <div class="minim-mb2 product_img">
                        <img class="catgeory_img" [src]="productList.url" alt="">
                    </div>
                    <div class="product_header">
                        <div class="minim-mb1 product_title"><strong>{{productList.label}}</strong> <span class="minim-ml4 product_vendorName">{{productList.vendorName}}</span></div>
                        <div class="product_price">{{productList.price}} $</div>
                    </div>
                </article>
            </ng-container>
        </div>
    </div>

    <div *ngIf="type === 'collection'" class="c">
        <div class="collection_header">
            <div class="collection_header_title">
                <h3 class="minim-mr5 collection_title">Collection</h3>
                <h5 class="minim-ml5">Shop</h5>
            </div>
            <div class="prevNext"><strong>Previous</strong> | <strong>Next</strong></div>
        </div>
        <div class="listing">
            <ng-container *ngFor="let productList of productsList; let i = index">
                <article class="minim-pt5 product bkgd-{{productList.backgroundColor}} {{productList.hot ? ' product_hot' : ''}}">
                    <div class="minim-mb2 product_img">
                        <img class="catgeory_img" [src]="productList.url" alt="">
                    </div>
                    <div class="product_header">
                        <div class="minim-mb1 product_title"><strong>{{productList.label}}</strong> <span class="minim-ml4 product_vendorName">{{productList.vendorName}}</span></div>
                        <div class="product_price">{{productList.price}} $</div>
                    </div>
                </article>
            </ng-container>
        </div>
    </div>

</section>