.products {
    margin: 50px 0 100px;
    .categories {
        display: flex;
        position: relative;
        flex-direction: column;
        .decoCode {
            display: none;
            position: absolute;
            right: -74px;
            top: 54px;
            transform: rotate(90deg);
            font-size: 10px;
            color: lightgrey;
            cursor: default;
            strong {
                color: black;
                font-weight: bold;
                margin-right: 10px;
            }
        }
        .category {
            position: relative;
            background: lightgrey;
            margin: 10px 0;
            margin-left: 10px;
            margin-right: 10px;
            min-width: 200px;
            &.bkgd-blue {
                background: #c0dae9;
            }
            &.bkgd-grey {
                background: #f0f0f0;
            }
            &.bkgd-black {
                background: #1e191d;
            }
            &:first-of-type {
                margin-right: 0;
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
                margin-left: 0;
            }
            .category_number {
                position: absolute;
                right: 20px;
                top: 10px;
                cursor: default;

            }
            .category_img {
                display: flex;
                justify-content: center;
                img {
                    cursor: pointer;
                    height: 200px;
                    width: 200px;
                }
            }
            .category_actions {
                display: flex;
                justify-content: flex-end;
                button {
                    font-size: 14px;
                }
            }
        }
    }
    .popular {
        .popular_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
            .popular_header_title {
                display: flex;
                align-items: center;
                h5 {
                    margin: 0;    
                    margin-top: 5px;
                }
                .popular_title {
                    font-size: 28px;
                    margin: 0;
                    margin-right: 10px;
                }
            }
            .prevNext {
                position: relative;
                top: 2px;
                cursor: pointer;
                font-size: 14px;
                strong {
                    &:first-of-type {
                        margin-right: 10px;
                    }
                    
                    &:last-of-type {
                        margin-left: 10px;
                    }
                }
            }
        }   
        .listing {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .product {
                position: relative;
                &.product_hot {
                    &:before {
                        content: "HOT";
                        position: absolute;
                        font-size: 12px;
                        border: 1px solid white;
                        background: transparent;
                        top: 40px;
                        right: 10px;
                        padding: 2px 6px;
                        color: white;
                        font-weight: bold;
                    }
                }
                .product_img {
                    height: 276px;
                    width: 236px;
                    cursor: pointer;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .product_header {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .product_title {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        .product_vendorName {
                            color: #cccccc;
                        }
                    }
                    .product_price {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .collection {
        .collection_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
            .collection_header_title {
                display: flex;
                align-items: center;
                h5 {
                    margin: 0;    
                    margin-top: 5px;
                }
                .collection_title {
                    font-size: 28px;
                    margin: 0;
                    margin-right: 10px;
                }
            }
            .prevNext {
                position: relative;
                top: 2px;
                cursor: pointer;
                font-size: 14px;
                strong {
                    &:first-of-type {
                        margin-right: 10px;
                    }
                    
                    &:last-of-type {
                        margin-left: 10px;
                    }
                }
            }
        }
    }   
}

@media screen and (min-width: 769px) {
    .products {
        .categories {
            flex-direction: row;
            .category {
                position: relative;
                width: 100%;
                background: lightgrey;
                margin-left: 10px;
                margin-right: 10px;
                &:first-of-type {
                    margin-right: 10px;
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 980px) {
    .popular {
        .popular_header {
            .popular_header_title {
                h5 {   
                    margin: 0; 
                    margin-left: 30px!important;
                }
                .popular_title {
                    margin: 0;
                    margin-right: 30px!important;
                }
            }
        }
        .listing {
            justify-content: space-between!important;
        }
    }
}

@media screen and (min-width: 1250px) {
    .products {
        .categories {
            .decoCode {
                display: block;
            }
        }
    }
}