<footer class="footer">
    <div class="footer_copyright">
        © Copyright Minim Website 
    </div>
    <nav class="footer_navigation">
        <a class="footer_navigation__link" href="#">First</a> 
        <a class="footer_navigation__link" href="#">Second</a> 
        <a class="footer_navigation__link" href="#">Third</a> 
        <a class="footer_navigation__link" href="#">Fourth</a> 
        <a class="footer_navigation__link" href="#">Fifth</a> 
        <a class="footer_navigation__link" href="#">Sixth</a> 
    </nav>
    <div class="footer_socialNetwork">
        <span class="footer_socialNetwork__icon"><img src="../../../assets/images/logo/socialNetwork/facebook_256.png" /></span> 
        <span class="footer_socialNetwork__icon"><img src="../../../assets/images/logo/socialNetwork/linkedin_256.png" /></span> 
        <span class="footer_socialNetwork__icon"><img src="../../../assets/images/logo/socialNetwork/twitter_256.png" /></span> 
    </div>
</footer>
