@import "../../styles/globale_variables";

.footer {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    .footer_copyright {
        width: 100%;
        color: #b9b7b8;
        order: 3;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        text-align: center;
        cursor: default;

    }
    .footer_navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        flex-wrap: wrap;
        order: 2;
        .footer_navigation__link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #767273;
            font-weight: 500;
            width: 80px;
            height: 30px;
            text-align: center;
            margin: 0;
            font-weight: bold;
            border: 0;
            transition: ease .1s;
            &:hover {
                color: black;
            }
        }
    }
    .footer_socialNetwork {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        
        .footer_socialNetwork__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            cursor: pointer;
            margin: 0 10px;
            transition: $transition-header;
            img {
                width: 25px;
                height: 25px;
                
            }
            &:first-of-type {
                margin:0;
            }
            &:last-of-type {
                margin:0;
            }
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}

// $breakpoint_desktop__footer
@media screen and (min-width: 1088px) { 
    .footer {
        flex-direction: row;
        .footer_copyright {
            order: 0;
            text-align: left;
            justify-content: flex-start;
        }
        .footer_navigation {
            flex-wrap: nowrap;
            order: 1;
            margin-left: 20px;
            .footer_navigation__link {
                margin: 0 15px;
            }
        }
        .footer_socialNetwork {
            justify-content: flex-end;
            order: 2;
        }
    }
}