<header class="header">
    <div class="header_left">
        <button class="header_icon-burger">
            <mat-icon>menu</mat-icon>
        </button>
        <button class="header_icon-search">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="header_title">
        <h1>minim</h1>
    </div>
    <nav class="header_navigation">
        <a class="header_navigation__link" routerLink="/home" routerLinkActive="active">Account</a>
        <button class="header_icon-search">
            <mat-icon>search</mat-icon>
        </button>
        <button class="header_notifications">
            <mat-icon>notifications</mat-icon>
            <span class="header_notifications__count">
                4
            </span>
        </button>
    </nav>
</header>
