@import "../../styles/globale_variables";

$marginLeftTitle: 70px; 


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 50px;
    .header_icon-search {
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: white;
        border-radius: 100%;
        padding: 7px 6px 6px;
        margin: 0 0 0 80px;
        transition: $transition-header;
        border: 0;
        outline: none;
        mat-icon {
            width: 30px;
            height: 30px;
        }
        .material-icons {
            color: black;
            font-size: 30px;
            transition: $transition-header;
        }
        &:active {
            background: #d4d4d4;
        }
    }
    .header_left {
        display: flex;
        justify-content: center;
        align-items: center;
        .header_icon-burger {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: black;
            border-radius: 100%;
            padding: 6px;
            transition: $transition-header;
            border: 0;
            outline: none;
            .material-icons {
                position: relative;
                color: white;
                top: 1px;
                transition: $transition-header;

            }
            &:hover {
                background: white;
                .material-icons {
                    color: black;
                }
            }
            &:active {
                background: #d4d4d4;
            }
        }
    }
    .header_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        text-align: left;
        top: 21px;
        margin-left: $marginLeftTitle;
        z-index: -1;
        h1 {
            margin: 0;
            
        } 
    }
    .header_navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_icon-search {
            display: flex;
            margin: 0 18px 0;
        }
        .header_navigation__link {
            display: none;
            margin: 3px 25px 0 0;
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }
        .header_notifications {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 0;
            outline: none;
            background: white;
            mat-icon {
                width: 30px;
                height: 30px;
            }
            .material-icons {
                font-size: 30px!important;
                
            }
            .header_notifications__count {
                position: absolute;
                top: -3px;
                right: 4px;
                width: 15px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: lightgrey;
                color: white;
                border-radius: 100%;
                font-size: 10px;
                padding: 1px 1px 0 0;
                transition: $transition-header;
                border: 1px solid white;

            }
            &:hover {
                .header_notifications__count {
                    background: red;
                }
            }
            &:active {
                .header_notifications__count {
                transform: scale(1.2);
                }
            }
        }
    } 
}
@media screen and (max-width: 325px) {
    .header {
        .header_navigation {
            .header_navigation__link {
                margin: 3px 10px 0 0;   
            }
        }
    }
}

// $breakpoint_desktop__header
@media screen and (min-width: 769px) {
    .header {
        padding: 43px 20px 50px;
        .header_left {
            .header_icon-search {
                display: flex;
            }
        }
        .header_title {
            text-align: center;
            top: 44px;
            margin-left: 0px;
            width: calc(100% - #{$marginLeftTitle});
            max-width: calc(#{$maxWidthScreen} - #{$marginLeftTitle});
            h1 {
                width: 100%;
            }
        }
        .header_navigation {
            width: 180px;
            .header_icon-search {
                display: none;
            }
            .header_navigation__link {
                display: block;  
            }
        }
    }
}