<app-products type="categories" number="2"></app-products>
<app-products type="popular" number="2"></app-products>
<app-products type="collection" number="2"></app-products>
<app-newsletter></app-newsletter>
