.newsletter {
    padding: 100px 20px;
    .newsletter_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .newsletter_title {
            font-size: 30px;
            margin-top: 0;
        }
        .newsletter_form__title {
            width: 100%;
            margin: 0;
            .newsletter_description {
                max-width: none;
            }
        }
    }
}
@media screen and (min-width: 769px) {
    .newsletter {
        .newsletter_form {  
            flex-direction: row;
            align-items: center;
            .newsletter_form__title {
                width: 50%;
                .newsletter_description {
                    max-width: 350px;
                }
            }
        }
    }
}