<section class="newsletter">
    <article class="newsletter_form">
        <div class="minim-mr5 newsletter_form__title">
            <h2 class="newsletter_title">Newsletter</h2>
            <p class="newsletter_description">Register now with our newsletter and get the latest updates available</p>
        </div>
        <div class="minim-mt2 newsletter_form__form">
            <input type="text" class="minim-input" name="name" placeholder="Name" />
            <div class="newsletter_form__action">
                <input type="text" class="minim-input-mt2-mr2-mb4" name="email" placeholder="Email" />
                <button class="minim-button-filled">Send</button>
            </div>
        </div>
    </article>
</section>