@import "../app/styles/globale_variables";

.appContainer {
    width: 100%;
    max-width: $maxWidthScreen;
    margin: 0 auto;
    .mainContainer {
        padding: 20px;
        min-height: calc(100vh - 339px);
    }
}

// because $breakpoint_desktop__header

@media screen and (min-width: 527px) { 
    .appContainer {
        .mainContainer {
            min-height: calc(100vh - 310px);
        }
    }
}
@media screen and (min-width: 769px) { 
    .appContainer {
        .mainContainer {
            min-height: calc(100vh - 333px);
        }
    }
}

@media screen and (min-width: 1088px) { 
    .appContainer {
        .mainContainer {
            min-height: calc(100vh - 258px);
        }
    }
}