/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    margin: 0;
}

h2 {

}

h3 {
    margin: 0;
    font-size: 22px;
    cursor: default;
}

h4 {

}

h5 {
    color: #837e82;
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    cursor: default;
}

// Toolkit superclass
[class^="minim"] {
    //margin
    &[class*="-m1"] {
        margin: 10px;
    }
    &[class*="-m2"] {
        margin: 15px;
    }
    &[class*="-m3"] {
        margin: 20px;
    }
    &[class*="-m4"] {
        margin: 25px;
    }
    &[class*="-m5"] {
        margin: 30px;
    }
    &[class*="-mt1"] {
        margin-top: 10px;
    }
    &[class*="-mt2"] {
        margin-top: 15px;
    }
    &[class*="-mt3"] {
        margin-top: 20px;
    }
    &[class*="-mt4"] {
        margin-top: 25px;
    }
    &[class*="-mt5"] {
        margin-top: 30px;
    }
    &[class*="-mb1"] {
        margin-bottom: 10px;
    }
    &[class*="-mb2"] {
        margin-bottom: 15px;
    }
    &[class*="-mb3"] {
        margin-bottom: 20px;
    }
    &[class*="-mb4"] {
        margin-bottom: 25px;
    }
    &[class*="-mb5"] {
        margin-bottom: 30px;
    }
    &[class*="-mr1"] {
        margin-right: 10px;
    }
    &[class*="-mr2"] {
        margin-right: 15px;
    }
    &[class*="-mr3"] {
        margin-right: 20px;
    }
    &[class*="-mr4"] {
        margin-right: 25px;
    }
    &[class*="-mr5"] {
        margin-right: 30px;
    }
    &[class*="-ml1"] {
        margin-left: 10px;
    }
    &[class*="-ml2"] {
        margin-left: 15px;
    }
    &[class*="-ml3"] {
        margin-left: 20px;
    }
    &[class*="-ml4"] {
        margin-left: 25px;
    }
    &[class*="-ml5"] {
        margin-left: 30px;
    }
    // padding
    &[class*="-p1"] {
        padding: 10px;
    }
    &[class*="-p2"] {
        padding: 15px;
    }
    &[class*="-p3"] {
        padding: 20px;
    }
    &[class*="-p4"] {
        padding: 25px;
    }
    &[class*="-p5"] {
        padding: 30px;
    }
    &[class*="-pt1"] {
        padding-top: 10px;
    }
    &[class*="-pt2"] {
        padding-top: 15px;
    }
    &[class*="-pt3"] {
        padding-top: 20px;
    }
    &[class*="-pt4"] {
        padding-top: 25px;
    }
    &[class*="-pt5"] {
        padding-top: 30px;
    }
    &[class*="-pb1"] {
        padding-bottom: 10px;
    }
    &[class*="-pb2"] {
        padding-bottom: 15px;
    }
    &[class*="-pb3"] {
        padding-bottom: 20px;
    }
    &[class*="-pb4"] {
        padding-bottom: 25px;
    }
    &[class*="-pb5"] {
        padding-bottom: 30px;
    }
    &[class*="-pr1"] {
        padding-right: 10px;
    }
    &[class*="-pr2"] {
        padding-right: 15px;
    }
    &[class*="-pr3"] {
        padding-right: 20px;
    }
    &[class*="-pr4"] {
        padding-right: 25px;
    }
    &[class*="-pr5"] {
        padding-right: 30px;
    }
    &[class*="-pl1"] {
        padding-left: 10px;
    }
    &[class*="-pl2"] {
        padding-left: 15px;
    }
    &[class*="-pl3"] {
        padding-left: 20px;
    }
    &[class*="-pl4"] {
        padding-left: 25px;
    }
    &[class*="-pl5"] {
        padding-left: 30px;
    }
    &[class*="-input"] {
        // Config variables//
            /*GLOBAL*/          $paddingTopBottom: .5em;
            /*GLOBAL*/          $paddingRightLeft: 1.4em;
            /*GLOBAL*/          $fontSize: 16px;
            /*GLOBAL*/          $borderColorInput: #cdcbcc;
            /*GLOBAL*/          $borderThickInput: 1px;
            /*GLOBAL*/          $colorPlaceholderInput: 1px;
        // ----- //
        font-size: $fontSize;
        padding: $paddingTopBottom $paddingRightLeft;
        border: $borderThickInput solid $borderColorInput;
        &::placeholder {
            color: $colorPlaceholderInput;
        }
    }
    &[class*="-button"] {
        // Config variables//
            /*GLOBAL*/          $paddingTopBottom: .5em;
            /*GLOBAL*/          $paddingRightLeft: 1.4em;
            /*GLOBAL*/          $fontSize: 16px;
            /*--filled--*/      $backgroundColorButtonFilled: black;
            /*--filled--*/      $textColorButtonFilled: white;
            /*--outlined--*/    $backgroundColorButtonOutlined: transparent;
            /*--outlined--*/    $textColorButtonOutlined: black;
            /*--underlined--*/  $backgroundColorButtonUnderlined: transparent;
            /*--underlined--*/  $textColorButtonUnderlined: black;
            /*--underlined--*/  $borderThickButton: 1px;
        // ----- //

        position: relative;
        cursor: pointer;
        font-size: $fontSize;
        padding: $paddingTopBottom $paddingRightLeft;
        outline: none;
        border: 0;
        &[class*="-filled"] {
            background: $backgroundColorButtonFilled;
            color: $textColorButtonFilled;
            border: $borderThickButton solid $backgroundColorButtonFilled;
        }
        &[class*="-outlined"] {
            background: $backgroundColorButtonOutlined;
            color: $textColorButtonOutlined;
            border: $borderThickButton solid $textColorButtonOutlined;
            font-weight: 600;
        }
        &[class*="-underlined"] {
            background: $backgroundColorButtonUnderlined;
            color: $textColorButtonUnderlined;
            border: $borderThickButton solid $backgroundColorButtonUnderlined;
            font-weight: 600;
            &:after {
                content: "";
                position: absolute;
                bottom: calc(#{$paddingTopBottom} - (#{$paddingTopBottom} * 80 / 100));
                left: $paddingRightLeft;
                right: $paddingRightLeft;
                height: $borderThickButton;
                background: $textColorButtonUnderlined;
            }
        }
    }
}